In [1]:
import pandas as pd
import numpy as np

In [2]:
pitchingall = pd.read_csv('PitchersDataByYear.csv')
positionsall = pd.read_csv('PlayerDataByYear.csv')

In [3]:
pitchingall

,Season,Name,Team,W,L,SV,G,GS,IP,K/9,...,LOB%,GB%,HR/FB,vFA (pi),ERA,xERA,FIP,xFIP,WAR,playerid
0,1999,Pedro Martinez,BOS,23,4,0,31,29,213.1,13.20,...,77.60%,NaN,NaN,NaN,2.07,NaN,1.39,NaN,11.6,200
1,1972,Steve Carlton,PHI,27,10,0,41,41,346.1,8.06,...,81.30%,NaN,NaN,NaN,1.97,NaN,2.01,NaN,11.1,1001964
2,1973,Bert Blyleven,MIN,20,17,0,40,40,325.0,7.14,...,75.20%,NaN,NaN,NaN,2.52,NaN,2.32,NaN,10.8,1001098
3,1997,Roger Clemens,TOR,21,7,0,34,34,264.0,9.95,...,80.70%,NaN,NaN,NaN,2.05,NaN,2.25,NaN,10.7,815
4,2001,Randy Johnson,ARI,21,6,0,35,34,249.2,13.41,...,80.50%,NaN,NaN,NaN,2.49,NaN,2.13,NaN,10.4,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5500,2016,James Shields,- - -,6,19,0,33,33,181.2,6.69,...,72.70%,40.40%,17.80%,91.2,5.85,NaN,6.01,5.21,-1.0,7059
5501,2001,Dave Mlicki,- - -,11,11,0,34,29,167.2,5.21,...,70.80%,NaN,NaN,NaN,6.17,NaN,6.35,NaN,-1.3,569
5502,1982,Matt Keough,OAK,11,18,0,34,34,209.1,3.22,...,68.20%,NaN,NaN,NaN,5.72,NaN,5.88,NaN,-1.4,1006858
5503,2011,Bronson Arroyo,CIN,9,12,0,32,32,199.0,4.88,...,74.40%,38.70%,15.90%,87.8,5.07,NaN,5.71,4.54,-1.6,978
5504,1965,Phil Ortega,WAS,12,15,0,35,29,179.2,4.41,...,73.80%,NaN,NaN,NaN,5.11,NaN,5.63,NaN,-1.9,1009855

In [4]:
positionsall

,Season,Name,Team,G,PA,HR,R,RBI,SB,BB%,...,OBP,SLG,wOBA,xwOBA,wRC+,BsR,Off,Def,WAR,playerid
0,2021,Starling Marte,- - -,104,455,11,81,45,45,8.80%,...,0.396,0.471,0.375,NaN,142.0,12.1,36.1,4.4,5.6,9241
1,2021,Trea Turner,- - -,132,575,22,91,61,28,6.30%,...,0.365,0.510,0.373,NaN,134.0,4.9,29.4,7.3,5.6,16252
2,2021,Willy Adames,- - -,129,507,22,68,66,5,10.30%,...,0.341,0.484,0.352,NaN,122.0,0.5,14.9,7.0,3.9,15986
3,2021,Javier Baez,- - -,124,491,31,74,83,17,4.90%,...,0.316,0.514,0.350,NaN,121.0,2.8,15.7,4.4,3.6,12979
4,2021,Kris Bryant,- - -,128,520,24,80,66,9,10.20%,...,0.354,0.496,0.362,NaN,128.0,4.9,23.7,-5.4,3.5,15429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62683,1950,Lloyd Hittle,WAS,11,15,0,0,1,0,6.70%,...,0.143,0.077,0.119,NaN,-43.0,0.0,-3.0,1.1,-0.1,1005863
62684,1950,Connie Marrero,WAS,27,61,0,4,3,0,11.50%,...,0.232,0.143,0.199,NaN,4.0,0.0,-8.1,4.6,-0.1,1008126
62685,1950,Fred Taylor,WAS,6,17,0,1,0,0,5.90%,...,0.176,0.125,0.153,NaN,-23.0,0.0,-2.9,-0.2,-0.2,1012871
62686,1950,Al Sima,WAS,17,27,0,1,0,0,0.00%,...,0.115,0.115,0.107,NaN,-50.0,-0.4,-6.0,2.0,-0.3,1011976
62687,1950,Sam Dente,WAS,155,654,2,56,59,1,6.00%,...,0.286,0.299,0.275,NaN,49.0,-0.4,-46.3,2.7,-1.9,1003214

In [5]:
positions = positionsall[positionsall.G.ge(100)]

In [6]:
positions

,Season,Name,Team,G,PA,HR,R,RBI,SB,BB%,...,OBP,SLG,wOBA,xwOBA,wRC+,BsR,Off,Def,WAR,playerid
0,2021,Starling Marte,- - -,104,455,11,81,45,45,8.80%,...,0.396,0.471,0.375,NaN,142.0,12.1,36.1,4.4,5.6,9241
1,2021,Trea Turner,- - -,132,575,22,91,61,28,6.30%,...,0.365,0.510,0.373,NaN,134.0,4.9,29.4,7.3,5.6,16252
2,2021,Willy Adames,- - -,129,507,22,68,66,5,10.30%,...,0.341,0.484,0.352,NaN,122.0,0.5,14.9,7.0,3.9,15986
3,2021,Javier Baez,- - -,124,491,31,74,83,17,4.90%,...,0.316,0.514,0.350,NaN,121.0,2.8,15.7,4.4,3.6,12979
4,2021,Kris Bryant,- - -,128,520,24,80,66,9,10.20%,...,0.354,0.496,0.362,NaN,128.0,4.9,23.7,-5.4,3.5,15429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62663,1950,Irv Noren,WAS,138,615,14,80,98,5,10.90%,...,0.375,0.459,0.381,NaN,112.0,-0.1,10.1,-0.8,3.0,1009628
62664,1950,Gil Coan,WAS,104,403,7,58,50,10,6.90%,...,0.359,0.429,0.362,NaN,101.0,-0.3,0.1,-4.8,1.0,1002373
62665,1950,Sam Mele,WAS,126,490,12,57,86,2,10.40%,...,0.351,0.432,0.359,NaN,99.0,0.3,-0.5,-8.0,0.9,1008747
62667,1950,Bud Stewart,WAS,118,428,4,46,35,5,10.70%,...,0.348,0.370,0.336,NaN,86.0,-0.9,-9.3,-3.3,0.3,1012517
62687,1950,Sam Dente,WAS,155,654,2,56,59,1,6.00%,...,0.286,0.299,0.275,NaN,49.0,-0.4,-46.3,2.7,-1.9,1003214

In [7]:
pitching = pitchingall[pitchingall.G.ge(15)]

In [8]:
pitching

,Season,Name,Team,W,L,SV,G,GS,IP,K/9,...,LOB%,GB%,HR/FB,vFA (pi),ERA,xERA,FIP,xFIP,WAR,playerid
0,1999,Pedro Martinez,BOS,23,4,0,31,29,213.1,13.20,...,77.60%,NaN,NaN,NaN,2.07,NaN,1.39,NaN,11.6,200
1,1972,Steve Carlton,PHI,27,10,0,41,41,346.1,8.06,...,81.30%,NaN,NaN,NaN,1.97,NaN,2.01,NaN,11.1,1001964
2,1973,Bert Blyleven,MIN,20,17,0,40,40,325.0,7.14,...,75.20%,NaN,NaN,NaN,2.52,NaN,2.32,NaN,10.8,1001098
3,1997,Roger Clemens,TOR,21,7,0,34,34,264.0,9.95,...,80.70%,NaN,NaN,NaN,2.05,NaN,2.25,NaN,10.7,815
4,2001,Randy Johnson,ARI,21,6,0,35,34,249.2,13.41,...,80.50%,NaN,NaN,NaN,2.49,NaN,2.13,NaN,10.4,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5500,2016,James Shields,- - -,6,19,0,33,33,181.2,6.69,...,72.70%,40.40%,17.80%,91.2,5.85,NaN,6.01,5.21,-1.0,7059
5501,2001,Dave Mlicki,- - -,11,11,0,34,29,167.2,5.21,...,70.80%,NaN,NaN,NaN,6.17,NaN,6.35,NaN,-1.3,569
5502,1982,Matt Keough,OAK,11,18,0,34,34,209.1,3.22,...,68.20%,NaN,NaN,NaN,5.72,NaN,5.88,NaN,-1.4,1006858
5503,2011,Bronson Arroyo,CIN,9,12,0,32,32,199.0,4.88,...,74.40%,38.70%,15.90%,87.8,5.07,NaN,5.71,4.54,-1.6,978
5504,1965,Phil Ortega,WAS,12,15,0,35,29,179.2,4.41,...,73.80%,NaN,NaN,NaN,5.11,NaN,5.63,NaN,-1.9,1009855

In [9]:
positions = positions[["Season", 'WAR', 'playerid']] 
pitching = pitching[["Season", 'WAR', 'playerid']]

In [10]:
pitching.head()

   Season   WAR  playerid
0    1999  11.6       200
1    1972  11.1   1001964
2    1973  10.8   1001098
3    1997  10.7       815
4    2001  10.4        60

In [11]:
frames = [pitching, positions]

In [12]:
allwar = pd.concat(frames)

In [13]:
allwar

       Season   WAR  playerid
0        1999  11.6       200
1        1972  11.1   1001964
2        1973  10.8   1001098
3        1997  10.7       815
4        2001  10.4        60
...       ...   ...       ...
62663    1950   3.0   1009628
62664    1950   1.0   1002373
62665    1950   0.9   1008747
62667    1950   0.3   1012517
62687    1950  -1.9   1003214

[20570 rows x 3 columns]

In [14]:
bins = [-4, 0, 1, 2, 3, 4, 5, 6,np.inf]
names = ['worst', 'bad', 'poor', 'average', 'above average', 'good', 'great', 'superstar']

In [15]:
allwar['seasonclass'] = pd.cut(allwar['WAR'], bins, labels = names)

In [16]:
allwar

       Season   WAR  playerid seasonclass
0        1999  11.6       200   superstar
1        1972  11.1   1001964   superstar
2        1973  10.8   1001098   superstar
3        1997  10.7       815   superstar
4        2001  10.4        60   superstar
...       ...   ...       ...         ...
62663    1950   3.0   1009628     average
62664    1950   1.0   1002373         bad
62665    1950   0.9   1008747         bad
62667    1950   0.3   1012517         bad
62687    1950  -1.9   1003214       worst

[20570 rows x 4 columns]

In [17]:
allwar['seasonclass'].count()

20570

In [18]:
allwar.groupby('seasonclass').seasonclass.count() # this is split by season, not a cumulative war for each player but 
#classifying each season played.

seasonclass
worst            2337
bad              3378
poor             4219
average          4057
above average    2818
good             1770
great            1007
superstar         984
Name: seasonclass, dtype: int64

This is filtereed by players with over a 100 games in one season and pitchers over 15 games in one season. These are not hard set filters, just for showing the example.

In [19]:
#filter our low games played players

In [20]:
positionsall

,Season,Name,Team,G,PA,HR,R,RBI,SB,BB%,...,OBP,SLG,wOBA,xwOBA,wRC+,BsR,Off,Def,WAR,playerid
0,2021,Starling Marte,- - -,104,455,11,81,45,45,8.80%,...,0.396,0.471,0.375,NaN,142.0,12.1,36.1,4.4,5.6,9241
1,2021,Trea Turner,- - -,132,575,22,91,61,28,6.30%,...,0.365,0.510,0.373,NaN,134.0,4.9,29.4,7.3,5.6,16252
2,2021,Willy Adames,- - -,129,507,22,68,66,5,10.30%,...,0.341,0.484,0.352,NaN,122.0,0.5,14.9,7.0,3.9,15986
3,2021,Javier Baez,- - -,124,491,31,74,83,17,4.90%,...,0.316,0.514,0.350,NaN,121.0,2.8,15.7,4.4,3.6,12979
4,2021,Kris Bryant,- - -,128,520,24,80,66,9,10.20%,...,0.354,0.496,0.362,NaN,128.0,4.9,23.7,-5.4,3.5,15429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62683,1950,Lloyd Hittle,WAS,11,15,0,0,1,0,6.70%,...,0.143,0.077,0.119,NaN,-43.0,0.0,-3.0,1.1,-0.1,1005863
62684,1950,Connie Marrero,WAS,27,61,0,4,3,0,11.50%,...,0.232,0.143,0.199,NaN,4.0,0.0,-8.1,4.6,-0.1,1008126
62685,1950,Fred Taylor,WAS,6,17,0,1,0,0,5.90%,...,0.176,0.125,0.153,NaN,-23.0,0.0,-2.9,-0.2,-0.2,1012871
62686,1950,Al Sima,WAS,17,27,0,1,0,0,0.00%,...,0.115,0.115,0.107,NaN,-50.0,-0.4,-6.0,2.0,-0.3,1011976
62687,1950,Sam Dente,WAS,155,654,2,56,59,1,6.00%,...,0.286,0.299,0.275,NaN,49.0,-0.4,-46.3,2.7,-1.9,1003214

In [21]:
positionsfilter = positionsall['G'] > 100

In [22]:
positions2 = positionsall[positionsfilter]
len(positions2)

14906

In [23]:
positions2

,Season,Name,Team,G,PA,HR,R,RBI,SB,BB%,...,OBP,SLG,wOBA,xwOBA,wRC+,BsR,Off,Def,WAR,playerid
0,2021,Starling Marte,- - -,104,455,11,81,45,45,8.80%,...,0.396,0.471,0.375,NaN,142.0,12.1,36.1,4.4,5.6,9241
1,2021,Trea Turner,- - -,132,575,22,91,61,28,6.30%,...,0.365,0.510,0.373,NaN,134.0,4.9,29.4,7.3,5.6,16252
2,2021,Willy Adames,- - -,129,507,22,68,66,5,10.30%,...,0.341,0.484,0.352,NaN,122.0,0.5,14.9,7.0,3.9,15986
3,2021,Javier Baez,- - -,124,491,31,74,83,17,4.90%,...,0.316,0.514,0.350,NaN,121.0,2.8,15.7,4.4,3.6,12979
4,2021,Kris Bryant,- - -,128,520,24,80,66,9,10.20%,...,0.354,0.496,0.362,NaN,128.0,4.9,23.7,-5.4,3.5,15429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62663,1950,Irv Noren,WAS,138,615,14,80,98,5,10.90%,...,0.375,0.459,0.381,NaN,112.0,-0.1,10.1,-0.8,3.0,1009628
62664,1950,Gil Coan,WAS,104,403,7,58,50,10,6.90%,...,0.359,0.429,0.362,NaN,101.0,-0.3,0.1,-4.8,1.0,1002373
62665,1950,Sam Mele,WAS,126,490,12,57,86,2,10.40%,...,0.351,0.432,0.359,NaN,99.0,0.3,-0.5,-8.0,0.9,1008747
62667,1950,Bud Stewart,WAS,118,428,4,46,35,5,10.70%,...,0.348,0.370,0.336,NaN,86.0,-0.9,-9.3,-3.3,0.3,1012517
62687,1950,Sam Dente,WAS,155,654,2,56,59,1,6.00%,...,0.286,0.299,0.275,NaN,49.0,-0.4,-46.3,2.7,-1.9,1003214